node-red/flows.json
[
  {
    "id": "aa1ece22.7c0ca8",
    "type": "tab",
    "label": "Hall illumination ",
    "disabled": false,
    "info": ""
  },
  {
    "id": "fe5fa9ba.571488",
    "type": "tab",
    "label": "Kitchen",
    "disabled": false,
    "info": ""
  },
  {
    "id": "b646acff.9e1af",
    "type": "tab",
    "label": "Bedroom",
    "disabled": false,
    "info": ""
  },
  {
    "id": "6cafe6fe.9631d8",
    "type": "tab",
    "label": "Living Room",
    "disabled": false,
    "info": ""
  },
  {
    "id": "40e6f526.bf7754",
    "type": "tab",
    "label": "Bathroom",
    "disabled": false,
    "info": ""
  },
  {
    "id": "eaa8464f.88645",
    "type": "tab",
    "label": "Back home",
    "disabled": false,
    "info": ""
  },
  {
    "id": "a3225e7a.c5e488",
    "type": "tab",
    "label": "Misc",
    "disabled": false,
    "info": ""
  },
  {
    "id": "bc9f8658.46864",
    "type": "tab",
    "label": "Remotes",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d3229416.f40d",
    "type": "server",
    "z": "",
    "name": "Home Assistant",
    "legacy": false,
    "addon": false,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": false
  },
  {
    "id": "554fafcb.a69f1",
    "type": "api-call-service",
    "z": "aa1ece22.7c0ca8",
    "name": "Turn on light",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": true,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "light.hue_white_lamp_corredor",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1270,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "319e0de0.9a6d0a",
    "type": "api-call-service",
    "z": "aa1ece22.7c0ca8",
    "name": "Turn off light",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": true,
    "service_domain": "light",
    "service": "turn_off",
    "entityId": "light.hue_white_lamp_corredor",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1270,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "ba2fe4b2.4881c8",
    "type": "api-current-state",
    "z": "aa1ece22.7c0ca8",
    "name": "Lamp is off?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "light.hue_white_lamp_corredor",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 950,
    "y": 80,
    "wires": [
      [
        "6d7acecf.a4b0f8"
      ],
      []
    ]
  },
  {
    "id": "aec1664b.0ff388",
    "type": "api-current-state",
    "z": "aa1ece22.7c0ca8",
    "name": "Lamp is off?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "light.hue_white_lamp_corredor",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 950,
    "y": 200,
    "wires": [
      [],
      [
        "ec4a63a8.a301a8"
      ]
    ]
  },
  {
    "id": "d1503fba.719618",
    "type": "poll-state",
    "z": "aa1ece22.7c0ca8",
    "name": "Hall Brightness",
    "server": "d3229416.f40d",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "updateinterval": "10",
    "updateIntervalUnits": "seconds",
    "outputinitially": false,
    "outputonchanged": false,
    "entity_id": "sensor.raw_hall_brightness",
    "state_type": "num",
    "halt_if": "",
    "halt_if_type": "num",
    "halt_if_compare": "is",
    "outputs": 1,
    "x": 140,
    "y": 140,
    "wires": [
      [
        "4f921c55.f80514"
      ]
    ]
  },
  {
    "id": "6d7acecf.a4b0f8",
    "type": "api-current-state",
    "z": "aa1ece22.7c0ca8",
    "name": "Away?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "not_home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "sensor.ricardo_presence",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 1110,
    "y": 80,
    "wires": [
      [],
      [
        "554fafcb.a69f1"
      ]
    ]
  },
  {
    "id": "ec4a63a8.a301a8",
    "type": "api-current-state",
    "z": "aa1ece22.7c0ca8",
    "name": "Away?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "not_home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "sensor.ricardo_presence",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 1110,
    "y": 200,
    "wires": [
      [],
      [
        "319e0de0.9a6d0a"
      ]
    ]
  },
  {
    "id": "3c4672e4.fd1346",
    "type": "trigger-state",
    "z": "eaa8464f.88645",
    "name": "Back home?",
    "server": "d3229416.f40d",
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "sensor.ricardo_presence",
    "entityidfiltertype": "exact",
    "debugenabled": true,
    "constraints": [
      {
        "id": "740svspkaxy",
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "previous_state",
        "propertyValue": "old_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "not_home"
      },
      {
        "id": "4b0o6n14cvz",
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is_not",
        "comparatorValueDatatype": "str",
        "comparatorValue": "not_home"
      }
    ],
    "constraintsmustmatch": "all",
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "x": 170,
    "y": 140,
    "wires": [
      [
        "d775548c.8efcc8",
        "37df8bf9.4b505c",
        "74451eed.666178"
      ],
      []
    ]
  },
  {
    "id": "28cf4132.9e5c4e",
    "type": "api-call-service",
    "z": "eaa8464f.88645",
    "name": "Turn on hall light",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "light.hue_white_lamp_corredor",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 660,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "a3e2c778.c3fc4",
    "type": "server-state-changed",
    "z": "eaa8464f.88645",
    "name": "Movement detected in hall",
    "server": "d3229416.f40d",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.presence_21",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "habool",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "x": 140,
    "y": 240,
    "wires": [
      [
        "6c394cb1.cb5404"
      ],
      []
    ]
  },
  {
    "id": "d5a0a056.fd03b8",
    "type": "inject",
    "z": "eaa8464f.88645",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 160,
    "y": 320,
    "wires": [
      [
        "6c394cb1.cb5404"
      ]
    ]
  },
  {
    "id": "6c394cb1.cb5404",
    "type": "api-current-state",
    "z": "eaa8464f.88645",
    "name": "Not home?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "not_home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "sensor.ricardo_presence",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 360,
    "y": 240,
    "wires": [
      [
        "74451eed.666178",
        "d889289f.37ba1"
      ],
      []
    ]
  },
  {
    "id": "be584959.a6378",
    "type": "comment",
    "z": "aa1ece22.7c0ca8",
    "name": "Lower values means brighter",
    "info": "",
    "x": 180,
    "y": 40,
    "wires": []
  },
  {
    "id": "593a787d.a9f8d8",
    "type": "trigger-state",
    "z": "fe5fa9ba.571488",
    "name": "Kitchen is dark",
    "server": "d3229416.f40d",
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "sensor.lightlevel_19",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "id": "87zco7eg2gh",
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "propertyValue": "new_state.attributes.dark",
        "comparatorType": "is",
        "comparatorValueDatatype": "bool",
        "comparatorValue": "true"
      }
    ],
    "constraintsmustmatch": "all",
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": true,
    "state_type": "str",
    "x": 100,
    "y": 100,
    "wires": [
      [
        "b9b1188c.a295e"
      ],
      [
        "967dc656.1f845"
      ]
    ]
  },
  {
    "id": "9ef15835.09cc68",
    "type": "api-call-service",
    "z": "fe5fa9ba.571488",
    "name": "Turn on kitchen light",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": true,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "light.kitchen_light",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 980,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "b9b1188c.a295e",
    "type": "api-current-state",
    "z": "fe5fa9ba.571488",
    "name": "Home?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "not_home",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "override_topic": false,
    "entity_id": "sensor.ricardo_presence",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 280,
    "y": 100,
    "wires": [
      [
        "941d1999.d7709"
      ],
      []
    ]
  },
  {
    "id": "941d1999.d7709",
    "type": "api-current-state",
    "z": "fe5fa9ba.571488",
    "name": "Kitchen lights off?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "light.kitchen_light",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 470,
    "y": 100,
    "wires": [
      [
        "54f1a7a3.bd746"
      ],
      []
    ]
  },
  {
    "id": "1f7b149.47ba4eb",
    "type": "bigtimer",
    "z": "fe5fa9ba.571488",
    "outtopic": "timer",
    "outpayload1": "ON",
    "outpayload2": "OFF",
    "name": "Dusk until Late night",
    "comment": "",
    "lat": 0,
    "lon": 0,
    "starttime": "5001",
    "endtime": "1410",
    "starttime2": 0,
    "endtime2": 0,
    "startoff": "10",
    "endoff": "10",
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "",
    "outtext2": "",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": 0,
    "month7": 0,
    "day8": 0,
    "month8": 0,
    "day9": 0,
    "month9": 0,
    "day10": 0,
    "month10": 0,
    "day11": 0,
    "month11": 0,
    "day12": 0,
    "month12": 0,
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xd1": 0,
    "xw1": 0,
    "xd2": 0,
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": true,
    "repeat": false,
    "atstart": false,
    "odd": false,
    "even": false,
    "x": 120,
    "y": 380,
    "wires": [
      [
        "9e8e2117.38d5e8"
      ],
      [],
      []
    ]
  },
  {
    "id": "9e8e2117.38d5e8",
    "type": "switch",
    "z": "fe5fa9ba.571488",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ON",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "OFF",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 310,
    "y": 380,
    "wires": [
      [
        "86f290c4.633f28"
      ],
      [
        "fbc4e4f2.6ce338"
      ]
    ]
  },
  {
    "id": "ae5d8e70.624c1",
    "type": "api-call-service",
    "z": "fe5fa9ba.571488",
    "name": "Turn on kitchen light",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": true,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "light.kitchen_light",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 720,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "111fa6a8.8c3151",
    "type": "api-call-service",
    "z": "fe5fa9ba.571488",
    "name": "Turn off kitchen light",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": true,
    "service_domain": "light",
    "service": "turn_off",
    "entityId": "light.kitchen_light",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 720,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "86f290c4.633f28",
    "type": "api-current-state",
    "z": "fe5fa9ba.571488",
    "name": "Vacation mode?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "override_topic": true,
    "entity_id": "input_boolean.extended_away",
    "state_type": "habool",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 500,
    "y": 340,
    "wires": [
      [
        "ae5d8e70.624c1"
      ],
      []
    ]
  },
  {
    "id": "fbc4e4f2.6ce338",
    "type": "api-current-state",
    "z": "fe5fa9ba.571488",
    "name": "Vacation mode?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "override_topic": true,
    "entity_id": "input_boolean.extended_away",
    "state_type": "habool",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 500,
    "y": 420,
    "wires": [
      [
        "111fa6a8.8c3151"
      ],
      []
    ]
  },
  {
    "id": "d775548c.8efcc8",
    "type": "api-call-service",
    "z": "eaa8464f.88645",
    "name": "Set vacation mode off",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_off",
    "entityId": "input_boolean.extended_away",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 410,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "c2ec343a.fd4f28",
    "type": "delay",
    "z": "fe5fa9ba.571488",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 500,
    "y": 200,
    "wires": [
      [
        "9ef15835.09cc68"
      ]
    ]
  },
  {
    "id": "967dc656.1f845",
    "type": "change",
    "z": "fe5fa9ba.571488",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 300,
    "y": 200,
    "wires": [
      [
        "c2ec343a.fd4f28"
      ]
    ]
  },
  {
    "id": "54f1a7a3.bd746",
    "type": "time-switch",
    "z": "fe5fa9ba.571488",
    "name": "Daytime?",
    "lat": "",
    "lon": "",
    "startTime": "08:00",
    "endTime": "23:59",
    "startOffset": 0,
    "endOffset": 0,
    "x": 660,
    "y": 100,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "37df8bf9.4b505c",
    "type": "template",
    "z": "eaa8464f.88645",
    "name": "Presence detected",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Presence detected",
    "output": "str",
    "x": 400,
    "y": 100,
    "wires": [
      [
        "99e7ed6c.0e0438"
      ]
    ]
  },
  {
    "id": "99e7ed6c.0e0438",
    "type": "link out",
    "z": "eaa8464f.88645",
    "name": "",
    "links": [
      "6890d2ea.895df4",
      "af9c0aaa.e17a3"
    ],
    "x": 545,
    "y": 100,
    "wires": []
  },
  {
    "id": "d889289f.37ba1",
    "type": "template",
    "z": "eaa8464f.88645",
    "name": "Message",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Motion detected in hall when not home!",
    "output": "str",
    "x": 560,
    "y": 240,
    "wires": [
      [
        "3995c801.a4a8b8"
      ]
    ]
  },
  {
    "id": "3995c801.a4a8b8",
    "type": "link out",
    "z": "eaa8464f.88645",
    "name": "",
    "links": [
      "6890d2ea.895df4",
      "af9c0aaa.e17a3"
    ],
    "x": 655,
    "y": 240,
    "wires": []
  },
  {
    "id": "2fb22431.8c6f64",
    "type": "server-state-changed",
    "z": "b646acff.9e1af",
    "name": "Bed Pressure",
    "server": "d3229416.f40d",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.bed_pressure",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "x": 90,
    "y": 80,
    "wires": [
      [
        "471d0590.65a634"
      ]
    ]
  },
  {
    "id": "471d0590.65a634",
    "type": "change",
    "z": "b646acff.9e1af",
    "name": "convert string to number",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$number(payload)\t",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 290,
    "y": 80,
    "wires": [
      [
        "ef734399.c6d5c8"
      ]
    ]
  },
  {
    "id": "6ce2e513.ba1734",
    "type": "switch",
    "z": "b646acff.9e1af",
    "name": "Threshold check",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lte",
        "v": "0.05",
        "vt": "num"
      },
      {
        "t": "gte",
        "v": "0.1",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 660,
    "y": 80,
    "wires": [
      [
        "d8dcbd5a.aa0d08"
      ],
      [
        "c27e8f24.7b56"
      ]
    ]
  },
  {
    "id": "4602ea23.c1843c",
    "type": "ha-entity",
    "z": "b646acff.9e1af",
    "name": "Bed Presence (Node-RED)",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "binary_sensor",
    "config": [
      {
        "property": "name",
        "value": "Bed Presence"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      }
    ],
    "state": "payload",
    "stateType": "msg",
    "attributes": [],
    "resend": true,
    "outputLocation": "payload",
    "outputLocationType": "msg",
    "inputOverride": "allow",
    "x": 1320,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "c27e8f24.7b56",
    "type": "change",
    "z": "b646acff.9e1af",
    "name": "Occupied",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 840,
    "y": 240,
    "wires": [
      [
        "2dc456a2.1c4a8a",
        "11f5d5c1.85cc6a"
      ]
    ]
  },
  {
    "id": "d8dcbd5a.aa0d08",
    "type": "change",
    "z": "b646acff.9e1af",
    "name": "Free",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 850,
    "y": 80,
    "wires": [
      [
        "63d744db.f4fd14",
        "cbc7b9ba.25e13"
      ]
    ]
  },
  {
    "id": "32152404.70a604",
    "type": "rbe",
    "z": "b646acff.9e1af",
    "name": "",
    "func": "deadbandEq",
    "gap": "0.05",
    "start": "",
    "inout": "in",
    "property": "payload",
    "x": 470,
    "y": 160,
    "wires": [
      [
        "ef734399.c6d5c8"
      ]
    ]
  },
  {
    "id": "2dc456a2.1c4a8a",
    "type": "change",
    "z": "b646acff.9e1af",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1020,
    "y": 120,
    "wires": [
      [
        "cbc7b9ba.25e13"
      ]
    ]
  },
  {
    "id": "63d744db.f4fd14",
    "type": "change",
    "z": "b646acff.9e1af",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1020,
    "y": 280,
    "wires": [
      [
        "11f5d5c1.85cc6a"
      ]
    ]
  },
  {
    "id": "cbc7b9ba.25e13",
    "type": "trigger",
    "z": "b646acff.9e1af",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "1",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1010,
    "y": 80,
    "wires": [
      [
        "4602ea23.c1843c"
      ]
    ]
  },
  {
    "id": "11f5d5c1.85cc6a",
    "type": "trigger",
    "z": "b646acff.9e1af",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "1",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1010,
    "y": 240,
    "wires": [
      [
        "4602ea23.c1843c"
      ]
    ]
  },
  {
    "id": "2da5f8d1.f6c48",
    "type": "comment",
    "z": "b646acff.9e1af",
    "name": "Ignore gradual creeping up/down",
    "info": "",
    "x": 550,
    "y": 40,
    "wires": []
  },
  {
    "id": "710cc0b5.44ddc",
    "type": "comment",
    "z": "b646acff.9e1af",
    "name": "Debounce spurious spikes",
    "info": "",
    "x": 910,
    "y": 40,
    "wires": []
  },
  {
    "id": "4f921c55.f80514",
    "type": "switch",
    "z": "aa1ece22.7c0ca8",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gte",
        "v": "13000",
        "vt": "num"
      },
      {
        "t": "lte",
        "v": "6000",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 310,
    "y": 140,
    "wires": [
      [
        "6ed24975.8b717",
        "81bc61c8.ee6ad"
      ],
      [
        "de95dbd5.c711e",
        "994bdc0f.fff838"
      ]
    ]
  },
  {
    "id": "12ae74f9.146d93",
    "type": "link out",
    "z": "a3225e7a.c5e488",
    "name": "",
    "links": [
      "6890d2ea.895df4",
      "af9c0aaa.e17a3"
    ],
    "x": 715,
    "y": 200,
    "wires": []
  },
  {
    "id": "378c04f.8ccd1fc",
    "type": "server-state-changed",
    "z": "a3225e7a.c5e488",
    "name": "Battery devices under 30%",
    "server": "d3229416.f40d",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": ".+_battery.*",
    "entityidfiltertype": "regex",
    "outputinitially": true,
    "state_type": "num",
    "haltifstate": "30",
    "halt_if_type": "num",
    "halt_if_compare": "lte",
    "outputs": 2,
    "output_only_on_state_change": true,
    "x": 150,
    "y": 200,
    "wires": [
      [
        "2db7f9ca.f56fee"
      ],
      []
    ]
  },
  {
    "id": "205aef98.6238b",
    "type": "template",
    "z": "a3225e7a.c5e488",
    "name": "",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "The device {{data.new_state.attributes.friendly_name}} ({{data.entity_id}}) has {{data.new_state.state}}{{data.new_state.attributes.unit_of_measurement}} battery!",
    "output": "str",
    "x": 600,
    "y": 200,
    "wires": [
      [
        "12ae74f9.146d93"
      ]
    ]
  },
  {
    "id": "af9c0aaa.e17a3",
    "type": "link in",
    "z": "a3225e7a.c5e488",
    "name": "Notify devices",
    "links": [
      "99e7ed6c.0e0438",
      "3995c801.a4a8b8",
      "ae810390.c573f8",
      "b13d6050.2cbf3",
      "12ae74f9.146d93",
      "37d028ea.46b5a"
    ],
    "x": 55,
    "y": 80,
    "wires": [
      [
        "dd8cbf41.70b51",
        "d6413312.b198c"
      ]
    ]
  },
  {
    "id": "d6413312.b198c",
    "type": "api-call-service",
    "z": "a3225e7a.c5e488",
    "name": "Notify Phone",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "notify",
    "service": "mobile_app_pixel",
    "entityId": "",
    "data": "{\"title\":\"Home Assistant\",\"message\":payload}",
    "dataType": "jsonata",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 190,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "dd8cbf41.70b51",
    "type": "api-call-service",
    "z": "a3225e7a.c5e488",
    "name": "Notify iPad",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "notify",
    "service": "mobile_app_ricardos_ipad",
    "entityId": "",
    "data": "{\"title\":\"Home Assistant\",\"message\": payload }",
    "dataType": "jsonata",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 190,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "dc1692e6.5792d",
    "type": "function",
    "z": "6cafe6fe.9631d8",
    "name": "Discomfort Index",
    "func": "if (msg.payload.length != 2) {\n    node.error(\"Received unexpected amount of elements in payload\");\n    return;\n}\n\nconst temperaturePayload = msg.payload.find(function(element, index, array) {\n    return element.attributes.unit_of_measurement == \"°C\";\n});\nconst temperature = parseFloat(temperaturePayload.state);\n\nconst humidityPayload = msg.payload.find(function(element, index, array) {\n    return element.attributes.unit_of_measurement == \"%\";\n});\nconst humidity = parseFloat(humidityPayload.state);\n\nconst discomfortIndex = temperature - 0.55 * (1 - 0.01 * humidity) * (temperature - 14.5);\nvar description;\n\nif (discomfortIndex < 21) {\n    description = \"No discomfort\";\n} else if (discomfortIndex < 25) {\n    description = \"Less than half population feels discomfort\";\n} else if (discomfortIndex < 28) {\n    description = \"More than half population feels discomfort\";\n} else if (discomfortIndex < 30) {\n    description = \"Most population feels discomfort and deterioration of psychophysical conditions\";\n} else if (discomfortIndex < 32) {\n    description = \"The whole population feels an heavy discomfort\";\n} else {\n    description = \"Sanitary emergency due to the the very strong discomfort which may cause heatstrokes\";\n}\n\nreturn { payload: discomfortIndex, description: description };",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 610,
    "y": 100,
    "wires": [
      [
        "14bc950a.d54673"
      ]
    ]
  },
  {
    "id": "ec60f551.7ed99",
    "type": "ha-get-entities",
    "z": "6cafe6fe.9631d8",
    "server": "d3229416.f40d",
    "name": "Get temperature and humidity",
    "rules": [
      {
        "property": "entity_id",
        "logic": "includes",
        "value": "sensor.living_room_temperature,sensor.living_room_humidity",
        "valueType": "str"
      }
    ],
    "output_type": "array",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 350,
    "y": 100,
    "wires": [
      [
        "dc1692e6.5792d"
      ]
    ]
  },
  {
    "id": "807146cf.371458",
    "type": "inject",
    "z": "6cafe6fe.9631d8",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 110,
    "y": 100,
    "wires": [
      [
        "ec60f551.7ed99"
      ]
    ]
  },
  {
    "id": "67d6f222.451fac",
    "type": "comment",
    "z": "6cafe6fe.9631d8",
    "name": "Ventilation based on Discomfort Index",
    "info": "",
    "x": 190,
    "y": 180,
    "wires": []
  },
  {
    "id": "38653382.7f7184",
    "type": "api-current-state",
    "z": "6cafe6fe.9631d8",
    "name": "Home?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "not_home",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "override_topic": false,
    "entity_id": "sensor.ricardo_presence",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 460,
    "y": 220,
    "wires": [
      [
        "b46c3998.d6b02"
      ],
      []
    ]
  },
  {
    "id": "ae88ab43.9c5cd",
    "type": "comment",
    "z": "a3225e7a.c5e488",
    "name": "Vacuum Home",
    "info": "",
    "x": 120,
    "y": 300,
    "wires": []
  },
  {
    "id": "747e4f2.34c2c3",
    "type": "api-current-state",
    "z": "a3225e7a.c5e488",
    "name": "Home?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "not_home",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "override_topic": false,
    "entity_id": "sensor.ricardo_presence",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 320,
    "y": 360,
    "wires": [
      [
        "5002d53d.3064a4"
      ],
      [
        "5002d53d.3064a4"
      ]
    ]
  },
  {
    "id": "3418901b.2c4e98",
    "type": "api-call-service",
    "z": "a3225e7a.c5e488",
    "name": "Vacuum (Eco)",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "neato",
    "service": "custom_cleaning",
    "entityId": "vacuum.neato",
    "data": "{\"mode\":1,\"navigation\":2,\"category\":4}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 660,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "5002d53d.3064a4",
    "type": "api-call-service",
    "z": "a3225e7a.c5e488",
    "name": "Notify Phone",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "notify",
    "service": "mobile_app_pixel",
    "entityId": "",
    "data": "{\t   \"title\":\"Home Assistant\",\t   \"message\":\"Should I turn on the vacuum?\",\t   \"data\": {\t       \"tag\":\"vacuum-notification\",\t       \"actions\": [\t           {\t               \"action\":\"vacuum\",\t               \"title\":\"Turn On\"\t           }\t       ]\t   }\t}",
    "dataType": "jsonata",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 510,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "ebc74f10.1cb0f",
    "type": "server-events",
    "z": "a3225e7a.c5e488",
    "name": "mobile_app_notification_action",
    "server": "d3229416.f40d",
    "event_type": "mobile_app_notification_action",
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "waitForRunning": true,
    "x": 170,
    "y": 460,
    "wires": [
      [
        "5f8fd381.65100c"
      ]
    ]
  },
  {
    "id": "5f8fd381.65100c",
    "type": "switch",
    "z": "a3225e7a.c5e488",
    "name": "Vacuum notification?",
    "property": "payload.event.tag",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "vacuum-notification",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 440,
    "y": 460,
    "wires": [
      [
        "3418901b.2c4e98"
      ]
    ]
  },
  {
    "id": "14bc950a.d54673",
    "type": "ha-entity",
    "z": "6cafe6fe.9631d8",
    "name": "Living Room Discomfort Index",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "sensor",
    "config": [
      {
        "property": "name",
        "value": "Living Room Discomfort Index"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      },
      {
        "property": "unit_of_measurement",
        "value": "DI"
      }
    ],
    "state": "payload",
    "stateType": "msg",
    "attributes": [
      {
        "property": "description",
        "value": "description",
        "valueType": "msg"
      }
    ],
    "resend": true,
    "outputLocation": "payload",
    "outputLocationType": "msg",
    "inputOverride": "allow",
    "x": 870,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "fe716ecd.a31b28",
    "type": "api-current-state",
    "z": "a3225e7a.c5e488",
    "name": "Home?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "not_home",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "override_topic": false,
    "entity_id": "sensor.ricardo_presence",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 480,
    "y": 560,
    "wires": [
      [
        "df9f9f34.e9ac4"
      ],
      []
    ]
  },
  {
    "id": "ddf12ce7.1db018",
    "type": "api-current-state",
    "z": "a3225e7a.c5e488",
    "name": "Workday?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "binary_sensor.workday_sensor",
    "state_type": "habool",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 330,
    "y": 560,
    "wires": [
      [
        "fe716ecd.a31b28"
      ],
      []
    ]
  },
  {
    "id": "df9f9f34.e9ac4",
    "type": "api-current-state",
    "z": "a3225e7a.c5e488",
    "name": "Work commute",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "20",
    "halt_if_type": "num",
    "halt_if_compare": "lte",
    "override_topic": false,
    "entity_id": "sensor.work_commute",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 650,
    "y": 560,
    "wires": [
      [
        "2a541b55.affaec"
      ],
      [
        "ca2dae9f.4fcd18"
      ]
    ]
  },
  {
    "id": "2db7f9ca.f56fee",
    "type": "delay",
    "z": "a3225e7a.c5e488",
    "name": "",
    "pauseType": "queue",
    "timeout": "30",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "30",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 400,
    "y": 200,
    "wires": [
      [
        "205aef98.6238b"
      ]
    ]
  },
  {
    "id": "16065073.9cdbf8",
    "type": "time-switch",
    "z": "6cafe6fe.9631d8",
    "name": "",
    "lat": "",
    "lon": "",
    "startTime": "08:00",
    "endTime": "23:00",
    "startOffset": 0,
    "endOffset": 0,
    "x": 290,
    "y": 220,
    "wires": [
      [
        "38653382.7f7184"
      ],
      []
    ]
  },
  {
    "id": "b9b14d76.116128",
    "type": "switch",
    "z": "6cafe6fe.9631d8",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "23",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 830,
    "y": 220,
    "wires": [
      [
        "805d0332.d5447"
      ]
    ]
  },
  {
    "id": "dd7be80.b0f9318",
    "type": "api-call-service",
    "z": "6cafe6fe.9631d8",
    "name": "Turn on Air Purifier",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "switch",
    "service": "turn_on",
    "entityId": "switch.innr_on_off_light_1",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1230,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "805d0332.d5447",
    "type": "api-current-state",
    "z": "6cafe6fe.9631d8",
    "name": "Air Purifier is off?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "switch.innr_on_off_light_1",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 1010,
    "y": 220,
    "wires": [
      [
        "dd7be80.b0f9318"
      ],
      []
    ]
  },
  {
    "id": "802d78f0.68153",
    "type": "inject",
    "z": "6cafe6fe.9631d8",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 110,
    "y": 220,
    "wires": [
      [
        "16065073.9cdbf8"
      ]
    ]
  },
  {
    "id": "8fd73b1a.5df01",
    "type": "comment",
    "z": "6cafe6fe.9631d8",
    "name": "Calculate Discomfort Index",
    "info": "",
    "x": 150,
    "y": 40,
    "wires": []
  },
  {
    "id": "b46c3998.d6b02",
    "type": "api-current-state",
    "z": "6cafe6fe.9631d8",
    "name": "Discomfort Index",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "sensor.living_room_discomfort_index",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 650,
    "y": 220,
    "wires": [
      [
        "b9b14d76.116128"
      ]
    ]
  },
  {
    "id": "32d9fa1f.4dc136",
    "type": "api-current-state",
    "z": "eaa8464f.88645",
    "name": "Kitchen Light Sensor",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "sensor.lightlevel_19",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 280,
    "y": 600,
    "wires": [
      [
        "b8a200c9.1aa098"
      ]
    ]
  },
  {
    "id": "78f87624.8635a8",
    "type": "api-current-state",
    "z": "eaa8464f.88645",
    "name": "Living Room is dark?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "0.1",
    "halt_if_type": "num",
    "halt_if_compare": "lt",
    "override_topic": false,
    "entity_id": "sensor.living_room_brightness",
    "state_type": "num",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 280,
    "y": 480,
    "wires": [
      [
        "1d76588.335fea8",
        "a1f6949.a94a968"
      ],
      []
    ]
  },
  {
    "id": "38cadbec.a4ae14",
    "type": "api-current-state",
    "z": "eaa8464f.88645",
    "name": "Hall is dark?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "12000",
    "halt_if_type": "num",
    "halt_if_compare": "gte",
    "override_topic": false,
    "entity_id": "sensor.raw_hall_brightness",
    "state_type": "num",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 250,
    "y": 420,
    "wires": [
      [
        "28cf4132.9e5c4e"
      ],
      []
    ]
  },
  {
    "id": "b8a200c9.1aa098",
    "type": "switch",
    "z": "eaa8464f.88645",
    "name": "Dark?",
    "property": "data.attributes.dark",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "true",
        "vt": "jsonata"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 470,
    "y": 600,
    "wires": [
      [
        "932437b6.e93338"
      ]
    ]
  },
  {
    "id": "932437b6.e93338",
    "type": "api-call-service",
    "z": "eaa8464f.88645",
    "name": "Turn on kitchen light",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "light.kitchen_light",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 680,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "1d76588.335fea8",
    "type": "api-call-service",
    "z": "eaa8464f.88645",
    "name": "Turn on living room lights",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "light.living_room",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 690,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "a1f6949.a94a968",
    "type": "api-call-service",
    "z": "eaa8464f.88645",
    "name": "Turn on other living room lights",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "switch",
    "service": "turn_on",
    "entityId": "switch.desk_lamp, switch.living_room_big_corner_light",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 710,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "74451eed.666178",
    "type": "link out",
    "z": "eaa8464f.88645",
    "name": "",
    "links": [
      "ccc950ed.00a5f8"
    ],
    "x": 555,
    "y": 180,
    "wires": []
  },
  {
    "id": "ccc950ed.00a5f8",
    "type": "link in",
    "z": "eaa8464f.88645",
    "name": "Back home routine",
    "links": [
      "74451eed.666178"
    ],
    "x": 55,
    "y": 520,
    "wires": [
      [
        "38cadbec.a4ae14",
        "78f87624.8635a8",
        "32d9fa1f.4dc136"
      ]
    ]
  },
  {
    "id": "4dee00de.6cf45",
    "type": "api-get-history",
    "z": "40e6f526.bf7754",
    "name": "Historical Bathroom Absolute Humidity",
    "server": "d3229416.f40d",
    "startdate": "",
    "enddate": "",
    "entityid": "sensor.last_bathroom_absolute_humidity",
    "entityidtype": "is",
    "useRelativeTime": true,
    "relativeTime": "15 minutes",
    "flatten": true,
    "output_type": "array",
    "output_location_type": "msg",
    "output_location": "payload",
    "x": 230,
    "y": 100,
    "wires": [
      [
        "ecc1962e.4040c"
      ]
    ]
  },
  {
    "id": "c5f20960.da51d8",
    "type": "inject",
    "z": "40e6f526.bf7754",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 40,
    "wires": [
      [
        "4dee00de.6cf45"
      ]
    ]
  },
  {
    "id": "ecc1962e.4040c",
    "type": "function",
    "z": "40e6f526.bf7754",
    "name": "",
    "func": "var result = [];\n\nfor (var i = 0; i < msg.payload.length - 1; i++) {\n    result.push(parseFloat(msg.payload[i + 1].state) - parseFloat(msg.payload[i].state));\n}\n\nvar sum = 0;\nfor (var j = 0; j < result.length; j++) {\n    sum += result[j];\n}\n\nreturn { payload: result, sum: sum };",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 480,
    "y": 100,
    "wires": [
      [
        "36ce8a37.853726"
      ]
    ]
  },
  {
    "id": "36ce8a37.853726",
    "type": "switch",
    "z": "40e6f526.bf7754",
    "name": "Noticeable rise?",
    "property": "sum",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gte",
        "v": "0.5",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 660,
    "y": 100,
    "wires": [
      [
        "a5626a29.b0ea7"
      ]
    ]
  },
  {
    "id": "a5626a29.b0ea7",
    "type": "api-current-state",
    "z": "40e6f526.bf7754",
    "name": "Home?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "not_home",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "override_topic": false,
    "entity_id": "sensor.ricardo_presence",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 840,
    "y": 100,
    "wires": [
      [
        "a61782.30af988"
      ],
      []
    ]
  },
  {
    "id": "a61782.30af988",
    "type": "api-current-state",
    "z": "40e6f526.bf7754",
    "name": "Towel Heater on?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "switch.towel_heater",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 1030,
    "y": 100,
    "wires": [
      [
        "ed9f0f46.1818a8"
      ],
      []
    ]
  },
  {
    "id": "ed9f0f46.1818a8",
    "type": "api-call-service",
    "z": "40e6f526.bf7754",
    "name": "Turn towel heater off",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "switch",
    "service": "turn_off",
    "entityId": "switch.towel_heater",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1260,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "ef734399.c6d5c8",
    "type": "switch",
    "z": "b646acff.9e1af",
    "name": "Threshold check",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "gt",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 660,
    "y": 140,
    "wires": [
      [
        "d8dcbd5a.aa0d08"
      ],
      [
        "c27e8f24.7b56"
      ]
    ]
  },
  {
    "id": "6ed24975.8b717",
    "type": "delay",
    "z": "aa1ece22.7c0ca8",
    "name": "",
    "pauseType": "rate",
    "timeout": "1",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 520,
    "y": 80,
    "wires": [
      [
        "6f157953.6a0018"
      ]
    ]
  },
  {
    "id": "de95dbd5.c711e",
    "type": "change",
    "z": "aa1ece22.7c0ca8",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 120,
    "wires": [
      [
        "6f157953.6a0018"
      ]
    ]
  },
  {
    "id": "994bdc0f.fff838",
    "type": "delay",
    "z": "aa1ece22.7c0ca8",
    "name": "",
    "pauseType": "rate",
    "timeout": "1",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 520,
    "y": 200,
    "wires": [
      [
        "cab7812a.0985a8"
      ]
    ]
  },
  {
    "id": "81bc61c8.ee6ad",
    "type": "change",
    "z": "aa1ece22.7c0ca8",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 160,
    "wires": [
      [
        "cab7812a.0985a8"
      ]
    ]
  },
  {
    "id": "2a541b55.affaec",
    "type": "template",
    "z": "a3225e7a.c5e488",
    "name": "",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "😎 Today's commute to the office is expected to take {{payload}} minutes.",
    "output": "str",
    "x": 860,
    "y": 520,
    "wires": [
      [
        "37d028ea.46b5a"
      ]
    ]
  },
  {
    "id": "ca2dae9f.4fcd18",
    "type": "template",
    "z": "a3225e7a.c5e488",
    "name": "",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "😱 Today's commute to the office is expected to take {{payload}} minutes!",
    "output": "str",
    "x": 860,
    "y": 600,
    "wires": [
      [
        "37d028ea.46b5a"
      ]
    ]
  },
  {
    "id": "37d028ea.46b5a",
    "type": "link out",
    "z": "a3225e7a.c5e488",
    "name": "",
    "links": [
      "af9c0aaa.e17a3"
    ],
    "x": 995,
    "y": 560,
    "wires": []
  },
  {
    "id": "cab7812a.0985a8",
    "type": "trigger",
    "z": "aa1ece22.7c0ca8",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "1",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 730,
    "y": 200,
    "wires": [
      [
        "aec1664b.0ff388"
      ]
    ]
  },
  {
    "id": "6f157953.6a0018",
    "type": "trigger",
    "z": "aa1ece22.7c0ca8",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "1",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 730,
    "y": 80,
    "wires": [
      [
        "ba2fe4b2.4881c8"
      ]
    ]
  },
  {
    "id": "ee1cc44.ddb5338",
    "type": "server-state-changed",
    "z": "b646acff.9e1af",
    "name": "Motion detected?",
    "server": "d3229416.f40d",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.presence_20",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "x": 130,
    "y": 380,
    "wires": [
      [
        "ddbef53c.510fe"
      ],
      [
        "1debdac0.541f35"
      ]
    ]
  },
  {
    "id": "ddbef53c.510fe",
    "type": "time-switch",
    "z": "b646acff.9e1af",
    "name": "",
    "lat": "",
    "lon": "",
    "startTime": "08:00",
    "endTime": "23:59",
    "startOffset": 0,
    "endOffset": 0,
    "x": 330,
    "y": 380,
    "wires": [
      [
        "8ea4accb.c4d88"
      ],
      []
    ]
  },
  {
    "id": "8ea4accb.c4d88",
    "type": "api-current-state",
    "z": "b646acff.9e1af",
    "name": "Bedside Lamp is off?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "switch.bedroom_lamp",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 540,
    "y": 380,
    "wires": [
      [
        "7df00bde.cb86bc"
      ],
      []
    ]
  },
  {
    "id": "7df00bde.cb86bc",
    "type": "api-current-state",
    "z": "b646acff.9e1af",
    "name": "Bed Presence is off?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "binary_sensor.bed_presence",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 780,
    "y": 380,
    "wires": [
      [
        "e2124ea7.219db8"
      ],
      []
    ]
  },
  {
    "id": "e2124ea7.219db8",
    "type": "api-call-service",
    "z": "b646acff.9e1af",
    "name": "Turn on overhead light",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "light.bedroom_light",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1020,
    "y": 380,
    "wires": [
      [
        "1debdac0.541f35"
      ]
    ]
  },
  {
    "id": "1debdac0.541f35",
    "type": "stoptimer",
    "z": "b646acff.9e1af",
    "duration": "5",
    "units": "Minute",
    "payloadtype": "num",
    "payloadval": "0",
    "name": "",
    "x": 340,
    "y": 460,
    "wires": [
      [
        "63826e75.b52438"
      ],
      []
    ]
  },
  {
    "id": "63826e75.b52438",
    "type": "api-call-service",
    "z": "b646acff.9e1af",
    "name": "Turn off overhead light",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_off",
    "entityId": "light.bedroom_light",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 560,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "62409650.3360a",
    "type": "comment",
    "z": "6cafe6fe.9631d8",
    "name": "Turn on lights when movement is detected",
    "info": "",
    "x": 200,
    "y": 300,
    "wires": []
  },
  {
    "id": "7d40d2fe.dd8624",
    "type": "server-state-changed",
    "z": "6cafe6fe.9631d8",
    "name": "Motion detected?",
    "server": "d3229416.f40d",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.presence_22",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "x": 130,
    "y": 360,
    "wires": [
      [
        "a8e6da7d.f23ca"
      ],
      []
    ]
  },
  {
    "id": "a8e6da7d.f23ca",
    "type": "api-current-state",
    "z": "6cafe6fe.9631d8",
    "name": "Dark?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "0.5",
    "halt_if_type": "num",
    "halt_if_compare": "lt",
    "override_topic": false,
    "entity_id": "sensor.living_room_brightness",
    "state_type": "num",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 310,
    "y": 360,
    "wires": [
      [
        "c6822236.1305b8"
      ],
      []
    ]
  },
  {
    "id": "c6822236.1305b8",
    "type": "api-current-state",
    "z": "6cafe6fe.9631d8",
    "name": "Big Corner Light is off?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "switch.living_room_big_corner_light",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 510,
    "y": 360,
    "wires": [
      [
        "ba5d4741.de8258",
        "2dfd9de1.d0a8e2",
        "fa493e41.defed"
      ],
      []
    ]
  },
  {
    "id": "ba5d4741.de8258",
    "type": "api-call-service",
    "z": "6cafe6fe.9631d8",
    "name": "Turn on Desk Lamp",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "switch",
    "service": "turn_on",
    "entityId": "switch.desk_lamp",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 750,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "2dfd9de1.d0a8e2",
    "type": "api-call-service",
    "z": "6cafe6fe.9631d8",
    "name": "Turn on Big Corner Light",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "switch",
    "service": "turn_on",
    "entityId": "switch.living_room_big_corner_light",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 770,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "fa493e41.defed",
    "type": "api-call-service",
    "z": "6cafe6fe.9631d8",
    "name": "Turn on Overhead Lights",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "light.hue_white_lamp_sala_janela, light.hue_white_lamp_sala_pc",
    "data": "{\"brightness_pct\":100}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 770,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "5a8c20bc.fd7aa",
    "type": "server-state-changed",
    "z": "fe5fa9ba.571488",
    "name": "Movement detected?",
    "server": "d3229416.f40d",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.presence_18",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "x": 120,
    "y": 40,
    "wires": [
      [
        "b14b5c15.948aa"
      ],
      []
    ]
  },
  {
    "id": "b14b5c15.948aa",
    "type": "api-current-state",
    "z": "fe5fa9ba.571488",
    "name": "Dark?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "100",
    "halt_if_type": "num",
    "halt_if_compare": "lt",
    "override_topic": false,
    "entity_id": "sensor.lightlevel_19",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 310,
    "y": 40,
    "wires": [
      [
        "e3123a47.c6ebe"
      ],
      []
    ]
  },
  {
    "id": "e3123a47.c6ebe",
    "type": "api-current-state",
    "z": "fe5fa9ba.571488",
    "name": "Kitchen lights off?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "light.kitchen_light",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 710,
    "y": 40,
    "wires": [
      [
        "9ef15835.09cc68"
      ],
      []
    ]
  },
  {
    "id": "3c220cc5.a1ce24",
    "type": "server-state-changed",
    "z": "b646acff.9e1af",
    "name": "Bed presence detected?",
    "server": "d3229416.f40d",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.bed_presence",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "x": 150,
    "y": 600,
    "wires": [
      [
        "1de47a08.6d9196"
      ],
      [
        "c98aac9e.6a7f2"
      ]
    ]
  },
  {
    "id": "1de47a08.6d9196",
    "type": "trigger",
    "z": "b646acff.9e1af",
    "name": "",
    "op1": "",
    "op2": "0",
    "op1type": "nul",
    "op2type": "str",
    "duration": "2",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 410,
    "y": 640,
    "wires": [
      [
        "d28c4c2a.b3cd9"
      ]
    ]
  },
  {
    "id": "c98aac9e.6a7f2",
    "type": "change",
    "z": "b646acff.9e1af",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 160,
    "y": 680,
    "wires": [
      [
        "1de47a08.6d9196"
      ]
    ]
  },
  {
    "id": "d28c4c2a.b3cd9",
    "type": "api-current-state",
    "z": "b646acff.9e1af",
    "name": "Bed Presence is on?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "binary_sensor.bed_presence",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 620,
    "y": 640,
    "wires": [
      [
        "9fd1b85a.f2f878"
      ],
      []
    ]
  },
  {
    "id": "3ee171d3.b246f6",
    "type": "inject",
    "z": "a3225e7a.c5e488",
    "name": "Every day at 9:00",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 09 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 560,
    "wires": [
      [
        "ddf12ce7.1db018",
        "b4f3a678.89dce"
      ]
    ]
  },
  {
    "id": "3bd17add.afc7c6",
    "type": "inject",
    "z": "a3225e7a.c5e488",
    "name": "Every day at 10:00",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 10 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 360,
    "wires": [
      [
        "747e4f2.34c2c3"
      ]
    ]
  },
  {
    "id": "9fd1b85a.f2f878",
    "type": "delay",
    "z": "b646acff.9e1af",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "12",
    "rateUnits": "hour",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 840,
    "y": 640,
    "wires": [
      [
        "702deac9.f05e64",
        "5c17451b.fd8dec",
        "f033969f.c6def"
      ]
    ]
  },
  {
    "id": "702deac9.f05e64",
    "type": "api-call-service",
    "z": "b646acff.9e1af",
    "name": "Turn off lights",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_off",
    "entityId": "group.all_living_room_devices, light.kitchen_light",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1040,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "5c17451b.fd8dec",
    "type": "api-call-service",
    "z": "b646acff.9e1af",
    "name": "Turn off living room switches",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "switch",
    "service": "turn_off",
    "entityId": "group.all_living_room_devices",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1080,
    "y": 640,
    "wires": [
      []
    ]
  },
  {
    "id": "f033969f.c6def",
    "type": "api-call-service",
    "z": "b646acff.9e1af",
    "name": "Turn off relax input boolean",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_off",
    "entityId": "input_boolean.relaxing",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1080,
    "y": 700,
    "wires": [
      []
    ]
  },
  {
    "id": "c26c7203.7fce48",
    "type": "inject",
    "z": "40e6f526.bf7754",
    "name": "Every day at 19:30",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 19 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 180,
    "wires": [
      [
        "54c8ebed.399fbc"
      ]
    ]
  },
  {
    "id": "54c8ebed.399fbc",
    "type": "api-current-state",
    "z": "40e6f526.bf7754",
    "name": "Vacations?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "input_boolean.extended_away",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 350,
    "y": 180,
    "wires": [
      [],
      [
        "7e4f4eff.29cd78"
      ]
    ]
  },
  {
    "id": "7e4f4eff.29cd78",
    "type": "api-call-service",
    "z": "40e6f526.bf7754",
    "name": "Turn towel heater on",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "shell_command",
    "service": "turn_on_towelheater",
    "entityId": "",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 560,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "26bc8d3b.0a3fea",
    "type": "server-state-changed",
    "z": "a3225e7a.c5e488",
    "name": "Away?",
    "server": "d3229416.f40d",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.ricardo_presence",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "not_home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "x": 90,
    "y": 760,
    "wires": [
      [
        "9b2b4d6d.70c2a8"
      ],
      [
        "9b2b4d6d.70c2a8"
      ]
    ]
  },
  {
    "id": "8c94ab2f.ce7ed8",
    "type": "api-current-state",
    "z": "a3225e7a.c5e488",
    "name": "Phone is not unavailable?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "unavailable",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "override_topic": false,
    "entity_id": "device_tracker.ricardo_s_google_pixel",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 470,
    "y": 760,
    "wires": [
      [
        "f01fd4e7.258238",
        "a5a55129.333c78"
      ],
      []
    ]
  },
  {
    "id": "9b2b4d6d.70c2a8",
    "type": "trigger",
    "z": "a3225e7a.c5e488",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "5",
    "extend": false,
    "units": "min",
    "reset": "home",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 250,
    "y": 760,
    "wires": [
      [
        "8c94ab2f.ce7ed8"
      ]
    ]
  },
  {
    "id": "f01fd4e7.258238",
    "type": "api-call-service",
    "z": "a3225e7a.c5e488",
    "name": "Turn off all lights",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_off",
    "entityId": "all",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 720,
    "y": 760,
    "wires": [
      []
    ]
  },
  {
    "id": "a5a55129.333c78",
    "type": "api-call-service",
    "z": "a3225e7a.c5e488",
    "name": "Turn off all switches",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "switch",
    "service": "turn_off",
    "entityId": "group.all_living_room_devices, switch.smartplug_quarto, switch.bedroom_lamp, switch.innr_on_off_light_1",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 740,
    "y": 820,
    "wires": [
      []
    ]
  },
  {
    "id": "b4f3a678.89dce",
    "type": "function",
    "z": "a3225e7a.c5e488",
    "name": "20th?",
    "func": "const today = new Date();\n\nif (today.getDate() == 20) {\n    return {payload: today.toJSON()};\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 330,
    "y": 660,
    "wires": [
      [
        "f6627637.83448"
      ]
    ]
  },
  {
    "id": "f6627637.83448",
    "type": "template",
    "z": "a3225e7a.c5e488",
    "name": "",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Don't forget to send in the utilities readings!",
    "output": "str",
    "x": 860,
    "y": 660,
    "wires": [
      [
        "37d028ea.46b5a"
      ]
    ]
  },
  {
    "id": "3e0d6bf2.941934",
    "type": "comment",
    "z": "a3225e7a.c5e488",
    "name": "Reminder to send in utilities readings",
    "info": "",
    "x": 190,
    "y": 620,
    "wires": []
  },
  {
    "id": "450b4cee.4ff8bc",
    "type": "server-events",
    "z": "bc9f8658.46864",
    "name": "Deconz Events",
    "server": "d3229416.f40d",
    "event_type": "deconz_event",
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "waitForRunning": true,
    "x": 120,
    "y": 120,
    "wires": [
      [
        "726ae9b6.9fc2e8",
        "f724910f.50c498"
      ]
    ]
  },
  {
    "id": "726ae9b6.9fc2e8",
    "type": "switch",
    "z": "bc9f8658.46864",
    "name": "Device Id?",
    "property": "payload.event.id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "living_room_switch",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "dimmer_switch_living_room",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "dimmer_switch",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "bedroom_switch",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "kitchen_switch",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 310,
    "y": 120,
    "wires": [
      [
        "8d1b7aec.34112"
      ],
      [
        "dc054d16.efbff"
      ],
      [
        "2f29c0c6.ac74c8"
      ],
      [
        "4c8b6e0f.19d52"
      ],
      [
        "188b9b7c.73bfc5"
      ]
    ]
  },
  {
    "id": "8d1b7aec.34112",
    "type": "switch",
    "z": "bc9f8658.46864",
    "name": "Bathroom Wall Switch",
    "property": "payload.event.event",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1002",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2002",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2004",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3002",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 520,
    "y": 120,
    "wires": [
      [
        "359b0964.bfa9e6"
      ],
      [
        "74834657.f194f8"
      ],
      [],
      [
        "359b0964.bfa9e6",
        "74834657.f194f8"
      ]
    ]
  },
  {
    "id": "bc896bc2.d532b8",
    "type": "api-call-service",
    "z": "bc9f8658.46864",
    "name": "Toggle living room lights",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "toggle",
    "entityId": "group.living_room_lights",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 830,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "f724910f.50c498",
    "type": "debug",
    "z": "bc9f8658.46864",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 190,
    "y": 40,
    "wires": []
  },
  {
    "id": "2f29c0c6.ac74c8",
    "type": "switch",
    "z": "bc9f8658.46864",
    "name": "Bedroom Dimmer Switch",
    "property": "payload.event.event",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1002",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2002",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3002",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "4002",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 530,
    "y": 400,
    "wires": [
      [
        "6ec7c34.f47ccbc"
      ],
      [],
      [
        "4eeb3ff.cbd224"
      ],
      [
        "f6ca42e2.a1fe98"
      ]
    ]
  },
  {
    "id": "6ec7c34.f47ccbc",
    "type": "api-call-service",
    "z": "bc9f8658.46864",
    "name": "Toggle bedroom overhead light",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "toggle",
    "entityId": "light.bedroom_light",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 850,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "4eeb3ff.cbd224",
    "type": "api-call-service",
    "z": "bc9f8658.46864",
    "name": "Toggle bedroom fan/heater",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "switch",
    "service": "toggle",
    "entityId": "switch.smartplug_quarto",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 840,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "f6ca42e2.a1fe98",
    "type": "api-call-service",
    "z": "bc9f8658.46864",
    "name": "Toggle bedside lamp",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "switch",
    "service": "toggle",
    "entityId": "switch.bedroom_lamp",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 820,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "188b9b7c.73bfc5",
    "type": "switch",
    "z": "bc9f8658.46864",
    "name": "Kitchen Wall Switch",
    "property": "payload.event.event",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1002",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 520,
    "y": 580,
    "wires": [
      [
        "7bfacc55.3c40c4"
      ]
    ]
  },
  {
    "id": "7bfacc55.3c40c4",
    "type": "api-call-service",
    "z": "bc9f8658.46864",
    "name": "Toggle kitchen overhead light",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "toggle",
    "entityId": "light.kitchen_light",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 840,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "4c8b6e0f.19d52",
    "type": "switch",
    "z": "bc9f8658.46864",
    "name": "Bedroom Wall Switch",
    "property": "payload.event.event",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1001",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "1002",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "1004",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 520,
    "y": 460,
    "wires": [
      [
        "4eeb3ff.cbd224"
      ],
      [
        "6ec7c34.f47ccbc"
      ],
      [
        "f6ca42e2.a1fe98"
      ]
    ]
  },
  {
    "id": "dc054d16.efbff",
    "type": "switch",
    "z": "bc9f8658.46864",
    "name": "Living Room Dimmer Switch",
    "property": "payload.event.event",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1002",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2002",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3002",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "4002",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 540,
    "y": 280,
    "wires": [
      [
        "bc896bc2.d532b8"
      ],
      [
        "497deec.2eefc1"
      ],
      [],
      [
        "7bfacc55.3c40c4"
      ]
    ]
  },
  {
    "id": "497deec.2eefc1",
    "type": "api-call-service",
    "z": "bc9f8658.46864",
    "name": "Toggle hall overhead lights",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "toggle",
    "entityId": "group.hall_lights",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 840,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "a8733f9f.ba431",
    "type": "server-state-changed",
    "z": "40e6f526.bf7754",
    "name": "Movement detected?",
    "server": "d3229416.f40d",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.bathroom_presence",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "x": 160,
    "y": 260,
    "wires": [
      [
        "276750a9.d15e9"
      ],
      []
    ]
  },
  {
    "id": "e2bc473d.61dcb8",
    "type": "api-call-service",
    "z": "40e6f526.bf7754",
    "name": "Turn on bathroom lights",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "light.bathroom_mirror_light, light.bathroom_overhead_light",
    "data": "{\"kelvin\":4000}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 910,
    "y": 240,
    "wires": [
      [
        "ea8511f0.fe1dc8"
      ]
    ]
  },
  {
    "id": "af01aea6.453078",
    "type": "api-call-service",
    "z": "40e6f526.bf7754",
    "name": "Turn off bathroom lights",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_off",
    "entityId": "light.bathroom_mirror_light, light.bathroom_overhead_light",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1130,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "276750a9.d15e9",
    "type": "api-current-state",
    "z": "40e6f526.bf7754",
    "name": "Bathroom lights off?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "light.bathroom_mirror_light",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 400,
    "y": 260,
    "wires": [
      [
        "9ea273b4.25b1f"
      ],
      []
    ]
  },
  {
    "id": "9ea273b4.25b1f",
    "type": "time-switch",
    "z": "40e6f526.bf7754",
    "name": "",
    "lat": "",
    "lon": "",
    "startTime": "07:30",
    "endTime": "23:00",
    "startOffset": 0,
    "endOffset": 0,
    "x": 610,
    "y": 260,
    "wires": [
      [
        "e2bc473d.61dcb8"
      ],
      [
        "3711457e.c17f62"
      ]
    ]
  },
  {
    "id": "3711457e.c17f62",
    "type": "api-call-service",
    "z": "40e6f526.bf7754",
    "name": "Turn on bathroom mirror light",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "light.bathroom_mirror_light",
    "data": "{\"kelvin\":4000}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 920,
    "y": 300,
    "wires": [
      [
        "ea8511f0.fe1dc8"
      ]
    ]
  },
  {
    "id": "359b0964.bfa9e6",
    "type": "api-call-service",
    "z": "bc9f8658.46864",
    "name": "Toggle bathroom mirror light",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "toggle",
    "entityId": "light.bathroom_mirror_light",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 840,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "74834657.f194f8",
    "type": "api-call-service",
    "z": "bc9f8658.46864",
    "name": "Toggle bathroom overhead light",
    "server": "d3229416.f40d",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "toggle",
    "entityId": "light.bathroom_overhead_light",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 850,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "8229df91.d955e",
    "type": "api-get-history",
    "z": "40e6f526.bf7754",
    "name": "",
    "server": "d3229416.f40d",
    "startdate": "",
    "enddate": "",
    "entityid": "binary_sensor.bathroom_presence",
    "entityidtype": "is",
    "useRelativeTime": true,
    "relativeTime": "5 minutes",
    "flatten": true,
    "output_type": "array",
    "output_location_type": "msg",
    "output_location": "payload",
    "x": 340,
    "y": 380,
    "wires": [
      [
        "e6d4bf72.178ac8"
      ]
    ]
  },
  {
    "id": "ad427731.fc6868",
    "type": "trigger",
    "z": "40e6f526.bf7754",
    "name": "",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "-1",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 160,
    "y": 380,
    "wires": [
      [
        "8229df91.d955e"
      ]
    ]
  },
  {
    "id": "e6d4bf72.178ac8",
    "type": "function",
    "z": "40e6f526.bf7754",
    "name": "Any on?",
    "func": "var any = false;\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    any = any || msg.payload[i].state == \"on\";\n}\n\nif (any) {\n    return [{payload: true}, null];\n} else {\n    return [null, {payload: false}]\n}",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 500,
    "y": 380,
    "wires": [
      [],
      [
        "cf2c2897.3cbbf8"
      ]
    ]
  },
  {
    "id": "cf2c2897.3cbbf8",
    "type": "change",
    "z": "40e6f526.bf7754",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 660,
    "y": 380,
    "wires": [
      [
        "ad427731.fc6868",
        "aba39964.968e1"
      ]
    ]
  },
  {
    "id": "ea8511f0.fe1dc8",
    "type": "delay",
    "z": "40e6f526.bf7754",
    "name": "",
    "pauseType": "delay",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1160,
    "y": 280,
    "wires": [
      [
        "ad427731.fc6868"
      ]
    ]
  },
  {
    "id": "aba39964.968e1",
    "type": "api-current-state",
    "z": "40e6f526.bf7754",
    "name": "Bathroom lights on?",
    "server": "d3229416.f40d",
    "version": 1,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "light.bathroom_mirror_light",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 880,
    "y": 380,
    "wires": [
      [
        "af01aea6.453078"
      ],
      []
    ]
  }
]
